@model List<(int Key, string Url, string Title, float Price, int Qty, DateTime DateTime)> // The model that is list of Artwork will be passed from controller to this view

@{
    ViewData["Title"] = "eCommerce - Cart";
    float cartTotal = 0f;
}

<!-- Itemized Listing -->
<div class="container border border-3 pt-3 ps-5 pe-5" style="width:500px;">
    <div class="row pb-2" style="text-align:center; text-decoration:underline;">
        <div class="col">
            <h5>Order Details</h5>
        </div>
    </div>

    <!-- Loop through and display each item -->
    @foreach (var item in Model)
    {
        <div class="row border-bottom border-1 pt-3 pb-3" id='@String.Concat("itemRow", @item.Key)'>
            <div class="col-sm-auto">
                <div class="row">

                    <!-- Info -->
                    <div class="col col-4">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid rounded shadow-lg" id='@String.Concat("img", @item.Key)' src="@item.Url" width="200" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @item.Title
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                $@item.Price
                            </div>
                        </div>
                    </div>

                    <!-- Update -->
                    <div class="col col-5 ps-4" style="width:200px; text-align:left;">

                        <div class="row">
                            <div class="col">
                                <label for="qty">Update Qty</label>
                                <select name="qtySel" id='@String.Concat("qty", @item.Key)'>

                                    @for (int i = 1; i <= 10; ++i)
                                    {
                                        // Check if quantity matches
                                        if (item.Qty == i)
                                        {
                                            <option value="@i" selected>@i</option>
                                            // Set selected to quantity
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <!-- Remove -->
                            <div class="col">
                                <input type="button" class="btn btn-secondary rounded-pill shadow" value="Remove" name="remItem" id='@String.Concat("removeItem", @item.Key)' style="width:100px" />
                            </div>
                        </div>

                    </div>

                    <!-- Cost -->
                    <div class="col" style="text-align:center;">

                        <span id='@String.Concat("cost", @item.Key)' class="text-success" style="font-weight:bold;">
                            @{
                                // Get new total and display current qty x price at the same time
                                //
                                // Get new total, subtract previous total (by subtracting current qty x price), to get currenty qty x price
                            }
                            $@(Math.Round((cartTotal += (item.Qty * item.Price)) - (cartTotal - (item.Qty * item.Price)), 2).ToString("0.00"))
                        </span>

                    </div>

                </div>
            </div>
        </div>
    }
    <div class="row mt-3 mb-3">
        <div class="=col col-12" style="text-align:center">
            <span style="font-weight:bolder; font-size: 1.3rem;">
                Total:
            </span>
            <span id="costTotal" class="text-success" style="font-weight:bolder; font-size: 1.3rem;">
                $@cartTotal.ToString("0.00")
            </span>
        </div>
    </div>
</div>

<!-- Total Price-->
<div class="container" id="contPay" hidden>

    <div class="container border border-3 mt-4 mb-3 pt-3 pb-3" style="width:500px">
        <div class="row" style="text-align:center">
            <div class="col" style="text-align:center">
                <input type="radio" name="payType" id="payWithPal" checked />
                <label for="payWithPal">
                    <img width="180" height="34" src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/34_Yellow_CheckOut_Pill_Button.png" alt="Check out with PayPal" />
                </label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="payType" id="payWithCred" />
                <label for="payWithCred">
                    <img width="180" height="34" src="https://www.merchantequip.com/images/logos/credit-cards.gif" width="249" height="34" />
                </label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5" style="text-align:center">
            <div class="col">
                <a asp-controller="ECommerce" asp-action="Complete" asp-route-pay=1><input type="button" class="btn btn-ecom btn-outline-dark rounded-pill shadow" style="width:150px; font-weight:bold;" value="Complete Order" /></a>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>

        // wait for document ready
        $(document).ready(function () {

            // Quantity changed
            $("select[name='qtySel'").on('change', function () {

                // Get art id (id is in suffix)
                var artId = this.id.replace("qty", "");

                // Get Quantity
                var artQty = $("#qty" + artId).val();

                // Build model data
                var data = { ObjArtwork: { Key: artId, URL: "", Title: "", Price: 0 }, Qty: artQty, Action: 1 };

                // Build JSON data string to pass to server
                $.ajax({
                    type: "POST",
                    url: "/ECommerce/AddToCart",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (response) {

                        // Check if success
                        if (response.status == "success") {

                            // Set costs
                            $('#cost' + artId).text('$' + response.itemTotalCost);
                            $('#costTotal').text('$' + response.subTotal);

                            // Update cart icon
                            $('#cartIconQty').text('Cart(' + response.cartItems + ')');

                        }
                        else // Failed
                        {
                            alert("error");
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });

            // Item removed
            $("input[name='remItem'").on('click', function () {

                // Get art id (id is in suffix)
                var artId = this.id.replace("removeItem", "");

                // Build model data
                var data = { ObjArtwork: { Key: artId, URL: "", Title: "", Price: 0 }, Qty: 0, Action: 3 };

                // Build JSON data string to pass to server
                $.ajax({
                    type: "POST",
                    url: "/ECommerce/RemoveItemFromCart",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (response) {

                        // Check if success
                        if (response.status == "success") {

                            // Remove row
                            $('#itemRow' + artId).remove();

                            // Update
                            $('#costTotal').text('$' + response.subTotal);
                            $('#cartIconQty').text('Cart(' + response.cartItems + ')');
                        }
                        else // Failed
                        {
                            alert("error");
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });

            });

            /*** First check - on load ***/
            // Make sure not empty first
            var subTotAmt = $('#costTotal').text().replace('$', "");
            if (subTotAmt.length > 0 && subTotAmt > 0) {

                // Show
                $('#contPay').attr('hidden', false);

            }
            else {

                // Hide
                $('#contPay').attr('hidden', true);
            }
            /*** - ***/


            /*** During changes ***/
            // Track cost changes
            $('#costTotal').on('DOMSubtreeModified', function () {

                var subTotAmt = $('#costTotal').text().replace('$', "");

                // Make sure not empty first
                if (subTotAmt.length > 0 && subTotAmt > 0) {

                    // Show
                    $('#contPay').attr('hidden', false);

                }
                else {
                    // Hide
                    $('#contPay').attr('hidden', true);
                }

            });
            /*** - ***/

        });

    </script>
}
