@model List<(int Key, string Url, string Title, float Price, int Qty, DateTime DateTime)> // The model that is list of Artwork will be passed from controller to this view

@{
    ViewData["Title"] = "eCommerce - Cart";
    float cartTotal = 0f;
}

<!-- Itemized Listing -->
<div class="container">

    <!-- Loop through and display each item -->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-auto">
                <div class="row">

                    <!-- Info -->
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <img class="img-fluid" id='@String.Concat("img", @item.Key)' src="@item.Url" width="200" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @item.Title
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                $@item.Price
                                <br /><br />
                            </div>
                        </div>
                        <br /><br />
                    </div>

                    <!-- Update -->
                    <div class="col">
                        <div class="row">
                            <div class="col">

                                <div class="row">
                                    <div class="col">
                                        <label for="qty">Update Qty</label>
                                        <select name="qtySel" id='@String.Concat("qty", @item.Key)'>

                                            @for (int i = 1; i <= 10; ++i)
                                            {
                                                // Check if quantity matches
                                                if (item.Qty == i)
                                                {
                                                    <option value="@i" selected>@i</option>
                                                    // Set selected to quantity
                                                }
                                                else
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Remove -->
                                    <div class="col">
                                        <input type="button" value="Remove" id='@String.Concat("removeItem", @item.Key)' style="width:100px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cost -->
                    <div class="col">

                        <span id='@String.Concat("cost", @item.Key)'>
                            @{
                                // Get new total and display current qty x price at the same time
                                //
                                // Get new total, subtract previous total (by subtracting current qty x price), to get currenty qty x price
                            }
                            $@(Math.Round((cartTotal += (item.Qty * item.Price)) - (cartTotal - (item.Qty * item.Price)), 2))
                        </span>
                    </div>

                </div>
            </div>
        }
    </div>

</div>

<!-- Total Price-->
<div>
    <span id ="costTotal">
        Total: $@cartTotal.ToString("0.00")
    </span>
</div>


@section Scripts {

    <script>

        // wait for document ready
        $(document).ready(function () {

            // Quantity changed
            $("select[name='qtySel'").on('change', function () {

                // Get art id (id is in suffix)
                var artId = this.id.replace("qty", "");

                // Get Quantity
                var artQty = $("#qty" + artId).val();

                // Build model data
                var data = { ObjArtwork: { Key: artId, URL: "", Title: "", Price: 0 }, Qty: artQty, Action: 1 };

                // Build JSON data string to pass to server
                $.ajax({
                    type: "POST",
                    url: "/ECommerce/AddToCart",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (response) {

                        // Check if success
                        if (response.status == "success") {

                            // Set costs
                            $('#cost' + artId).text('$' + response.itemTotalCost);
                            $('#costTotal').text('$' + response.subTotal);

                        }
                        else // Failed
                        {
                            alert("error");
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        });

    </script>
}
