@model IEnumerable<Artwork>  // The model that is list of Artwork will be passed from controller to this view

@{
    ViewData["Title"] = "eCommerce";
}

<!-- TODO: Use bootsrap cards to display -->
<div class="container">

    <!-- Loop through and display each item -->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-auto border border-1 p-3">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid  shadow-lg" id='@String.Concat("img", @item.Key)' src="@item.Url" width="200" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="font-style:italic">
                            @item.Title
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="text-success" style="font-weight:500">
                            $@item.Price
                        </span>
                        <br /><br />
                    </div>
                </div>
                <div class="row">

                    <div class="col pt-2">
                        <label for="qty">Qty</label>
                        <select id='@String.Concat("qty", @item.Key)'>
                            @for (int i = 1; i <= 10; ++i)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>

                    <div class="col">
                        <input type="button" class="btn btn-ecom btn-outline-dark rounded-pill shadow" value="Add" name="addCartBtn" id='@String.Concat("cartItem", @item.Key)' style="width:110px; font-weight:bold;" data-toggle="modal" data-target="#cartSummary" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<div id="cartSummary" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" align="center">
                    Item(s) Added
                </h5>
                <button type="button" class="close" data-dismiss="modal" onclick="$('#cartSummary').modal('hide');">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid" id="addItemImg" src="" width="200" />
                        <br /><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span id="subTotalSpan">
                            Cart Subtotal ( items):
                        </span>
                        <br /><br />
                    </div>
                    <div class="row">
                        <div class="col">
                            <a asp-controller="ECommerce" asp-action="Cart"><input type="button" value="Go to Cart" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script>

        // wait for document ready
        $(document).ready(function () {

            // Adds item to cart
            $("input[name='addCartBtn'").on('click', function () {

                // Get art id (id is in suffix)
                var artId = this.id.replace("cartItem", "");

                // Get Quantity
                var artQty = $('#qty' + artId).val();

                // Build model data
                var data = { ObjArtwork: { Key: artId, URL: "", Title: "", Price: 0 }, Qty: artQty, Action: 0 };

                // Build JSON data string to pass to server
                $.ajax({
                    type: "POST",
                    url: "/ECommerce/AddToCart",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (response) {

                        // Check if success
                        if (response.status == "success") {

                            // Set image
                            var imgUrl = $('#img' + artId).attr('src');
                            $('#addItemImg').attr('src', imgUrl);

                            // Set subtotal
                            $('#subTotalSpan').text('Cart Subtotal (' + response.cartItems + ' items): $' + response.subTotal);

                            // Show cart info
                            $('#cartSummary').modal('show');
                        }
                        else // Failed
                        {
                            alert("error");
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        });

    </script>
}
