@page
@model LoginModel

@{
    ViewData["Title"] = "Portal";
    Layout = "~/Areas/Identity/Pages/_LoginLayout.cshtml";

    // Verify tab settings
    var guestSet = "guestTab";  // Default - guest tab is selected
    var guestLock = true;       // Lock guest form from editing
    var guestUser = "Guest@yiadev.com";
    var guestPass = "Guest1!";

    // Member tab selected
    if (Request.Query["guestId"] == "memberTab") 
    {
        // Set tab
        guestSet = "memberTab";
        guestLock = false; // Allow editing inputs

        // Leave empty for user to fill
        guestUser = "";          
        guestPass = "";
    }
}

<!--Formatting done by layout file above-->
<h1 class="border-5">@ViewData["Title"]</h1>
<hr />
<form id="account" method="post">
    <div class="form-group">
    <!-- Error Messages-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Inputs -->
    <div class="form-floating"> <!-- Make label text show inside input field-->
        @{
            // Username - Guest account
            if (guestLock)
            {
                // Set guest
                <input asp-for="Input.Email" readonly value="@guestUser" class="form-control" autocomplete="username" aria-required="true" />
            }
            else
            {
                // Utilize user entry
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            }
            
            // No change whether guest or not
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        }
    </div>

    <div class="form-floating">
        @{
            // Password - Guest account
            if (guestLock)
            {
                // Set guest
                <input asp-for="Input.Password" value="@guestPass" readonly class="form-control" autocomplete="current-password" aria-required="true" />
            }
            else
            {
                // Utilize user entry
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
            }

            // No change whether guest or not
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        }
    </div>

    <div>
        <input type="hidden" id="guestId" value="@(guestSet)" />
    </div>

    <!-- Options -->
    <div>
        <div class="checkbox">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>

    <!-- Submit -->
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>

    <!-- Additional features -->
    <div>
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
        </p>
    </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
